<div *ngIf="hasFlightNumber()"> 
    <span class="flight">{{ aircraft.flight }} </span>
    <span class="squawk">{{ aircraft.squawk }} </span>
    <a href="https://www.google.com/maps/search/?api=1&query={{ aircraft.lat }},{{ aircraft.lon }}" target="_blank">
    <span class="lat">{{ aircraft.lat }} </span>
    <span class="lon">{{ aircraft.lon }} </span>
    </a>
    <span class="altitude">{{ aircraft.altitude }} </span>
    <span class="vert_rate">{{ aircraft.vert_rate }} </span>
    <span class="track">{{ aircraft.track }} </span>
    
</div>