<span class="hex">hex: {{ aircraft.hex }}</span>
<span class="squawk">squak:{{ aircraft.squawk }} </span>
<span class="flight">flight:</span>
<span class="lat">lat:{{ aircraft.lat }} </span>
<span class="lon">long: {{ aircraft.long }} </span>
<span class="nucp">nucp: {{ aircraft.nucp }} </span>
<span class="seen_pos">seen_pos: {{ aircraft.seen_pos }} </span>
<span class="altitude">altitude: {{ aircraft.altitude }} </span>
<span class="vert_rate">vert_rate: {{ aircraft.vert_rate }} </span>
<span class="track">track: {{ aircraft.track }} </span>
<span class="speed">speed: {{ aircraft.speed }} </span>
<span class="messages">messages: {{ aircraft.messages }} </span>
<span class="seen">seen: {{ aircraft.seen }} </span>
<span class="rssi">rssi: {{ aircraft.rssi }} </span>