span {
    padding: 5px;
}

html {
    margin: auto 10px;
    width: auto;
    height: 1300px;
    background-color: rgb(242, 239, 233); 


}
header {
   /* color: rgb(202, 226, 194); */
    color: rgb(51,51,51)
}